{% load static %}
{% load humanize %}

<div class="table-responsive">
    <table class="table table-hover table-striped outside-border align-middle">
        <thead>
            <tr class="inverted">
                <td>Imagen</td>
                <td>Nombre</td>
                <td>Precio</td>
                <td>Cantidad</td>
                <td>Total</td>
                <td>Quitar</td>
            </tr>
        </thead>
        <tbody>
            {% for item in cart.cartitem_set.all %}
            <tr>
                <td class="cart_product">
                    {% for image in item.product.productimage_set.all %}
                    {% if image.featured %}
                    <a href="{{ item.product.get_absolute_url }}"><img src="{{ image.image.url }}" alt=""></a>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <h4>{{ item }}</h4>
                </td>
                <td>
                    <p>${{ item.product.price|intcomma }}</p>
                </td>
                <td>
                    <div class="cart_quantity_button">
                        {% if item.quantity > 1 %}
                        <a class="cart_quantity_down" href="{% url "carts:update_cart" item.product.slug %}?qty={{ item.quantity|add:"-1" }}"> - </a>
                        {% endif %}
                        <form action="{% url "carts:update_cart" item.product.slug %}">
                            <input class="cart_quantity_input" type="text" name="qty" value="{{ item.quantity }}" autocomplete="off" size="2">
                        </form>
                        <a class="cart_quantity_up" href="{% url "carts:update_cart" item.product.slug %}?qty={{ item.quantity|add:"1" }}"> + </a>
                    </div>
                </td>
                <td>
                    <p class="cart_total_price">${{ item.total_cost|intcomma }}</p>
                </td>
                <td class="cart_delete">
                    <a class="cart_quantity_delete" href="{% url "carts:update_cart" item.product.slug %}?qty=0"><i class="fa fa-times"></i></a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
