{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{% url "products:home" %}">Inicio</a></li>
                <li class="active">Carrito de compras</li>
            </ol>
        </div>

        {% if empty %}
        <h1 class="text-center">{{ empty_message }}</h1>
        {# <hr class="clear big"> #}
        {% else %}
        {% include 'cart/cart_table.html' %}
        {% endif %}
    </div>
</section> <!--/#cart_items-->

{% if not empty %}
<section id="do_action">
    <div class="container">
    <div class="col-sm-6 col-centered">
            <div class="total_area">
                <ul>
                    <li>Subtotal <span>${{ cart.total|intcomma }}</span></li>
                    <li>Costo de envío <span>$0</span></li>
                    <li>Total <span>${{ cart.total|intcomma }}</span></li>
                </ul>
                <hr class="clear">
                <a class="btn btn-success btn-block" href="">Proceder al pago</a>
            </div>
        </div>
    </div>
</section><!--/#do_action-->
{% endif %}

{% endblock %}
