{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{% url "products:home" %}">Inicio</a></li>
                <li class="active">Carrito de compras</li>
            </ol>
        </div>
        {% if empty %}
           <h1 class="text-center">{{ empty_message }}</h1>
           <hr class="clear big">
        {% else %}
        <div class="table-responsive cart_info">
            <table class="table table-condensed text-center">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Imagen</td>
                        <td class="description">Nombre</td>
                        <td class="precio">Precio</td>
                        <td class="quantity">Cantidad</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart.cartitem_set.all %}
                    <tr class="cart_row">
                        <td class="cart_product">
                        {% for image in item.product.productimage_set.all %}
                        {% if image.featured %}
                            <a href="{{ item.product.get_absolute_url }}"><img src="{{ image.image.url }}" alt=""></a>
                        {% endif %}
                        {% endfor %}
                        </td>
                        <td class="cart_description">
                            <h4>{{ item }}</h4>
                        </td>
                        <td class="cart_price">
                            <p>${{ item.product.price|intcomma }}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_down" href="{% url "carts:update_cart" item.product.slug %}?qty={{ item.quantity|add:"-1" }}"> - </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="{{ item.quantity }}" autocomplete="off" size="2">
                                <a class="cart_quantity_up" href="{% url "carts:update_cart" item.product.slug %}?qty={{ item.quantity|add:"1" }}"> + </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">${{ item.total_cost|intcomma }}</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href="{% url "carts:update_cart" item.product.slug %}?qty=0"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</section> <!--/#cart_items-->
{% endblock %}
