{% extends 'base.html' %}

{% block content %}
<section><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <h2>Usuario registrado</h2>
                <form action="{% url "login" %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Usuario:</label>
                        <input placeholder="Usuario" class="form-control" type="text" name="username" autofocus maxlength="254" required id="id_username" />
                    </div>
                    <div class="form-group">
                        <label for="id_password">Contraseña:</label>
                        <input placeholder="Contraseña" class="form-control" type="password" name="password" required id="id_password" />
                    </div>
                    <p><small style="color: red">{{ form.non_field_errors }}</small></p>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"><b>Iniciar sesión</b></button>
                    </div>
                </form>
            </div>
            <div class="col-sm-1">
                <h2 class="or">O...</h2>
            </div>
            <div class="col-sm-4">
                <h2>Nuevo usuario</h2>
                <form action="{% url "accounts:signup" %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Nombre de usuario:</label>
                        <input placeholder="Usuario" class="form-control" type="text" name="username" maxlength="150" autofocus required id="id_username" />
                    </div>
                    <div class="form-group">
                        <label for="id_password1">Contraseña:</label>
                        <input placeholder="Contraseña" class="form-control" type="password" name="password1" required id="id_password1" />
                    </div>
                    <div class="form-group">
                        <label for="id_password2">Confirmación de contraseña:</label>
                        <input placeholder="Confirmación de contraseña" class="form-control" type="password" name="password2" required id="id_password2" />
                    </div>
                    <p><small style="color: red">{{ form2.errors }}</small></p>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-block"><b>Registrarse</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!--/form-->
{% endblock %}
