{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

{% include 'products/slider.html' %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% include 'products/left-sidebar.html' %}
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Destacados</h2>
                    {% for product in destacados %}
                    <div class="col-sm-4">
                        <div class="text-center">
                            {% for item in product.productimage_set.all %}
                            {% if item.featured %}
                            <a href="{{ product.get_absolute_url }}"><img src="{{ item.image.url }}" alt="" class="img-responsive center-block" /></a>
                            {% endif %}
                            {% endfor %}
                            <h2>{{ product.title }}</h2>
                            <p class="listing-price">${{ product.price|intcomma }}</p>
                            <a href="{% url "carts:update_cart" product.slug %}?qty=1" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Agregar al carrito</a>
                        </div>
                    </div>
                    {% endfor %}
                </div><!--features_items-->

                {% include 'products/recommended.html' %}

            </div>
        </div>
    </div>
</section>

{% endblock content %}
