{% load static %}

<div class="left-sidebar">
    <div class="shipping text-center"><!--shipping-->
        <img src="{% static "images/home/shipping.jpg" %}" alt="" />
    </div><!--/shipping-->

    <div class="brands_products"><!--brands_products-->
        <h2>Categorías</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                {% for category in categories %}
                <li><a href="{% url "products:products" %}?slug={{ category.slug }}"> <span class="pull-right">({{ category.product_set.count }})</span>{{ category.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div><!--/brands_products-->
</div>
