{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% include 'products/left-sidebar.html' %}
            </div>

            <div class="col-sm-9 padding-right">
            <div class="product-details"><!--product-details-->
                    <div class="col-sm-7">
                        <div id="images" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner text-center">
                                {% for item in images %}
                                {% if item.featured %}
                                <div class="item active">
                                    <a href=""><img src="{{ item.image.url }}" alt="" class="img-responsive center-block"></a>
                                </div>
                                {% else %}
                                <div class="item">
                                    <a href=""><img src="{{ item.image.url }}" alt=""></a>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                            <!-- Controls -->
                            <a class="left item-control" href="#images" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#images" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-5">
                        <h2 class="price">
                            {{ product.title }}
                            <span class="pull-right">${{ product.price|intcomma }}</span>
                        </h2>
                        <hr>
                        <form action="" class="agregar-carrito">
                            <div class="form-group text-center">
                                <label for="cantidad">Cantidad</label>
                                <input id="cantidad" type="number" min="1" value="1" class="text-center input-lg">
                            </div>
                            <a href="{% url "carts:update_cart" product.slug %}" class="btn btn-primary btn-block btn-lg">
                                <i class="fa fa-shopping-cart"></i>
                                Agregar al carrito
                            </a>
                        </form>
                    </div>
                </div><!--/product-details-->

                {% include 'products/recommended.html' %}

            </div>
        </div>
    </div>
</section>
{% endblock content %}
