<div class="callout large secondary">
    <div class="row">
        <div class="large-4 columns">
            <h5>Grupo Rincones</h5>
            <p>En Grupo Rincones buscamos traerte los mejores productos, sin importar en que rincón del mundo se encuentren</p>
        </h4>
    </div>
    <div class="large-3 large-offset-2 columns">
        <ul class="menu vertical">
            <li><a href="">Email</a></li>
            <li><a href="">Teléfono</a></li>
        </ul>
    </div>
    <div class="large-3 columns">
        <ul class="menu vertical">
            <li><a href="">Facebook</a></li>
            <li><a href="">Twitter</a></li>
        </ul>
    </div>
</div>
