<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><span><a href="/" class="menu-title">Rincones</a></span></li>
            <li><a href="#">{{ username_is }}</a></li>
            <li><a href="#">Two</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#">Three</a></li>
            <li><a href="#">Four</a></li>
            <li><a href="#">Five</a></li>
            <li><a href="#">Six</a></li>
        </ul>
    </div>
</div>
