{% load static %}

<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="tel://1-555-555-5555"><i class="fa fa-phone"></i> +1 (555) 555-5555</a></li>
                            <li><a href="mailto://rincones@gmail.com"><i class="fa fa-envelope"></i> rincones@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="{% url "products:home" %}"><img src="{% static "images/epsilon_zeta.png" %}" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{% url "carts:cart" %}">
                                    <i class="fa fa-shopping-cart"></i> Carrito
                                    {% if not request.session.items_total %}
                                    (0)
                                    {% else %}
                                    ({{ request.session.items_total }})
                                    {% endif%}
                                </a>
                            </li>
                            {% if user.is_authenticated %}
                            <li><a href=""><i class="fa fa-list"></i>Historial</a></li>
                            <li><a href="{% url "accounts:profile" %}"><i class="fa fa-user"></i>Mi cuenta</a></li>
                            <li><a href="{% url "logout" %}"><i class="fa fa-sign-out"></i>Cerrar sesión</a></li>
                            {% else %}
                            <li><a href="{% url "login" %}"><i class="fa fa-user"></i>Iniciar sesión</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="{% url "products:home" %}">Inicio</a></li>
                            <li class="dropdown"><a href="{% url "products:products" %}">Tienda<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu" id="categories" data-categories-url="{% url "products:categories" %}">
                                </ul>
                            </li>
                            <li><a href="{% url "products:contact" %}">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <form class="search_box pull-right" action="{% url "products:products" %}">
                        <input type="text" placeholder="Buscar" name="q" required>
                    </form>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->
